<h1>Listing stories</h1>

<table>
  <tr>
    <th>Story</th>
    <th>To Do</th>
    <th>Doing</th>
    <th>To Verify</th>
    <th>Done</th>
  </tr>

<% @stories.each do |story| %>
  <tr>
    <td>
      <span><%= story.name %></span>
      <%= link_to 'Edit', edit_story_path(story) %>
      <%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %>
      <div>
      </div>
      <%= link_to 'New Task', new_story_task_path(story) %>
    </td>
    <td>
      <% story.tasks.each do |task| %>
        <div><%= task.description %></div>
      <% end %>
    </td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Story', new_story_path %>
